.parent{
	width: 500px;
	background-color: orange;
	padding: 50px;
}
.A{
	width: 100%;
	background-color: skyblue;
	padding: 20px;
	margin-top: 30px;
}
.B{
	width: 100%;
	background-color: yellow;
	padding:5px;
	margin-top: 30px;
}

